<?xml version="1.0" encoding="UTF-8" ?>

<!-- @file config.xml -->
<!-- @author Juan José Escobar Pérez -->
<!-- @date 25/06/2015 -->
<!-- @brief File with the program configurations -->

<Config>
  <DataBaseName>data-178x480.txt</DataBaseName>
  <NGenerations>20</NGenerations>
  <MaxFeatures>48</MaxFeatures>
  <TournamentSize>2</TournamentSize>
  <CrossDistribution>20</CrossDistribution>
  <MutDistribution>20</MutDistribution>
  <DataName>gnuplot/dataPareto.txt</DataName>
  <PlotName>gnuplot/plot</PlotName>
  <ImageName>gnuplot/paretoFront</ImageName>
</Config>